.teachersImgWrp {
  position: relative;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #fbe9ba;
}

.teachersImgWrp::before {
  content: '';
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  top: 16px;
  right: 20px;
  background-color: var(--background-color);
}

.teachersImgWrp::after {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  top: 18px;
  right: 22px;
  background-color: #38cd3e;
}

.teachersImg {
  border-radius: 50%;
}

.teachersInfoWrp {
  min-width: 967px;
  font-weight: 500;
  line-height: 1.5;
}

.teachersInfo {
  display: flex;
  align-items: center;
}

.teachersLang {
  margin-right: auto;
  color: var(--secondary-text-color);
}

.teachersInfoList {
  display: flex;
  margin-right: 64px;
  gap: 16px;
}

.teachersInfoItem:not(:last-child) {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-right: 16px;
  border-right: 1px solid rgba(18, 20, 23, 0.2);
}

.teachersInfoPrice {
  margin-left: 4px;
  color: #38cd3e;
}

.teachersFavoriteBtn {
  border: 0;
  background-color: transparent;
}

.teachersTitle {
  font-weight: 500;
  line-height: 1;
  margin-bottom: 32px;
}

.teachersTextWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 16px;
}

.teachersAccentText {
  color: var(--secondary-text-color);
  margin-right: 4px;
}

.teachersUnderlineText {
  text-decoration: underline;
}

.teachersReadMoreBtn {
  border: 0;
  padding: 0;
  background-color: transparent;
  text-decoration: underline;
  font-weight: 500;
  line-height: 1.5;
  color: var(--primary-text-color);
  margin-bottom: 32px;
}

.teachersExperience {
  max-width: 967px;
  margin-bottom: 32px;
}

.teachersReview {
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.flexContainer {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 16px;
}

.teachersReviewImg {
  border-radius: 50%;
  height: 100%;
}

.flexReviewContainer {
  margin-bottom: 2px;
}

.teachersReviewRating {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 1.28571;
}

.teachersReviewTitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--secondary-text-color);
}

.teachersLevelsList {
  display: flex;
  gap: 8px;
}

.teachersLevelsItem {
  padding: 8px 16px;
  border-radius: 35px;
  border: 1px solid rgba(18, 20, 23, 0.2);
}

.teachersLevelsItem:first-child {
  background-color: var(--accent-color);
  border: 0;
}

.teachersReviewStar {
  margin-right: 8px;
}

.teachersTrialBtn {
  margin-top: 32px;
  border: 0;
  border-radius: 12px;
  padding: 16px 48px;
  background-color: var(--accent-color);
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.55556;
}
